In [4]:
import yfinance as yf
df = yf.download('AAPL', interval='5m', start='2025-06-25', end='2025-06-27')
df

C:\Users\Mohamed Saber\AppData\Local\Temp\ipykernel_22996\1578288624.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download('AAPL', interval='5m', start='2025-06-25', end='2025-06-27')
[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
Datetime,,,,,
2025-06-25 13:30:00+00:00,202.871597,203.000000,201.199997,201.419998,3014089
2025-06-25 13:35:00+00:00,202.869995,203.660004,202.710007,202.865005,1484950
2025-06-25 13:40:00+00:00,202.265198,202.919998,202.024994,202.884995,1052208
2025-06-25 13:45:00+00:00,202.259995,202.800003,201.919998,202.255005,1030147
2025-06-25 13:50:00+00:00,202.480194,202.565002,202.000000,202.225006,718594
...,...,...,...,...,...
2025-06-26 19:35:00+00:00,201.244995,201.309998,201.089996,201.190002,368491
2025-06-26 19:40:00+00:00,201.160004,201.279999,201.039993,201.240005,453246
2025-06-26 19:45:00+00:00,201.550003,201.559998,201.110001,201.160004,531726
2025-06-26 19:50:00+00:00,201.279999,201.550003,201.201004,201.550003,1080772
2025-06-26 19:55:00+00:00,200.940002,201.279999,200.789993,201.279999,2762198

In [6]:
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key='YOUR_API_KEY', output_format='pandas')
df, _ = ts.get_intraday('AAPL', interval='5min')
df

                      1. open  2. high  3. low  4. close  5. volume
date
2025-06-26 19:55:00  201.2200   201.30  201.15   201.280     5526.0
2025-06-26 19:50:00  201.2300   201.30  201.15   201.200     6209.0
2025-06-26 19:45:00  201.2300   201.30  201.20   201.260     3199.0
2025-06-26 19:40:00  201.1900   201.25  201.16   201.250     8195.0
2025-06-26 19:35:00  201.1700   201.19  201.15   201.180     1430.0
...                       ...      ...     ...       ...        ...
2025-06-26 12:00:00  199.9950   200.12  199.97   200.070   390674.0
2025-06-26 11:55:00  200.0701   200.08  199.95   200.000   229532.0
2025-06-26 11:50:00  199.9700   200.09  199.82   200.075   286170.0
2025-06-26 11:45:00  200.0300   200.09  199.96   199.975   271655.0
2025-06-26 11:40:00  200.0300   200.10  199.87   200.040   357185.0

[100 rows x 5 columns]